{% extends "layout.twig" %}

{% block title %}Add Element{% endblock %}

{% block content %}
  <!-- Add a job to database -->
  <h1>Add Job</h1>
  <form action="/php-platzi-portfolio/public/element/add" method="POST">
      <label for="">Title:</label>
      <input name="job_title" type="text"><br>
      <label for="">Description:</label>
      <input name="job_description" type="text"><br>
      <input name="submit_job" type="submit" value="Submit">
  </form>
  <!-- Add a project to database -->
  <h1>Add Project</h1>
  <form action="/php-platzi-portfolio/public/element/add" method="POST">
      <label for="">Title:</label>
      <input name="project_title" type="text"><br>
      <label for="">Description:</label>
      <input name="project_description" type="text"><br>
      <input name="submit_project" type="submit" value="Submit">
  </form>
{% endblock %}