{% extends "layout.twig" %}

{% block title %}Admin Dashboard
{% endblock %}

{% block content %}
    <h1>Dashboard</h1>
    
    <a class="btn btn-secondary mr-5" href="/php-platzi-portfolio/public/element/add">Add element</a>
    <a class="btn btn-secondary mr-5" href="/php-platzi-portfolio/public/user/add">Sign up</a>
    <br><br>
    <a class="btn btn-secondary mr-5" href="/php-platzi-portfolio/public/logout">Logout</a>

{% endblock %}
{% block footer %}{% endblock %}